# Port für diesen Backend-Server
PORT=3002

# E-Mail Zugangsdaten
EMAIL_USER=deine-email@domain.de
EMAIL_PASS=dein-passwort

# IMAP-Konfiguration (E-Mails empfangen)
IMAP_HOST=mail.dogado.de
IMAP_PORT=993
IMAP_SECURE=true

# SMTP-Konfiguration (E-Mails senden)
SMTP_HOST=mail.dogado.de
SMTP_PORT=465
SMTP_SECURE=true
